* {
  align-items: center;
}
#mainTopic {
  color: blue;
}
h1 + h3 + h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  color: white;
  background-color: cornflowerblue;
}
button {
  background-color: purple;
  color: azure;
}
button:hover {
  background-color: yellow;
  color: blue;
}
p:nth-of-type(odd) {
  color: yellow;
}
h1::first-letter {
  color: red;
}
#yes:checked + label {
  color: darkgreen;
}

.square {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
  border: solid 2px black;
  margin: 5px;
  display: inline-block;
  box-shadow: 2px 2px 10px black;
}
#sq1 {
  transform: rotate(30deg);
}
#sq2 {
  transform: translateX(-100px);
}
#sq3 {
  transform: skew(20deg);
}
