* {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: rgb(63, 63, 254);
}
.buttonUp {
  background-color: aqua;
  color: black;
}
h5 {
  color: black;
}
#search {
  background-color: black;
  color: white;
}
.searchBox {
  display: flex;
  align-items: center;
}
.buttonUp > button {
  background-color: greenyellow;
}
input[type="text"] {
  color: crimson;
}
button:active {
  background-color: plum;
  color: wheat;
}
