.face {
  width: 400px;
  height: 400px;
  background-color: #deb410;
  border-radius: 50%;
  border: 2px solid orange;
}
.mouth {
  width: 200px;
  height: 75px;
  border-radius: 0 0 70px 70px;
  background-color: rgb(126, 1, 1);
  position: absolute;
  top: 270px;
  left: 110px;
}
.eyes {
  background-color: black;
  height: 40px;
  width: 40px;
  margin: 40px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 90px;
  top: 100px;
}
#right {
  left: 220px;
}
